<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jobs</title>
    <style>
        * {box-sizing: border-box;}

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
              overflow: hidden;
              background-color: #e9e9e9;
        }

        .topnav a {
              float: left;
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
        }

        .topnav a:hover {
              background-color: #ddd;
              color: black;
        }

        .topnav a.active {
              background-color: #04AA6D;
              color: white;
        }

        .topnav .search-container {
            float: right;
        }

        .topnav input[type=text] {
              padding: 6px;
              margin-top: 8px;
              font-size: 17px;
              border: none;
        }

        .topnav .search-container button {
              float: right;
              padding: 6px;
              margin-top: 8px;
              margin-right: 16px;
              background: #ddd;
              font-size: 17px;
              border: none;
              cursor: pointer;
        }

        .topnav .search-container button:hover {
            background: #ccc;
        }

        @media screen and (max-width: 600px) {
            .topnav .search-container {
                float: none;
            }
            .topnav a, .topnav input[type=text], .topnav .search-container button {
                    float: none;
                    display: block;
                    text-align: left;
                    width: 100%;
                    margin: 0;
                    padding: 14px;
            }
            .topnav input[type=text] {
                    border: 1px solid #ccc;
            }
        }

        #jobs {
              font-family: Arial, Helvetica, sans-serif;
              border-collapse: collapse;
              width: 100%;
        }

        #jobs td, #jobs th {
              border: 1px solid #ddd;
              padding: 8px;
        }

        #jobs tr:nth-child(even){background-color: #f2f2f2;}

        #jobs tr:hover {background-color: #ddd;}

        #jobs th {
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              background-color: #04AA6D;
              color: white;
        }

        .a input[type=text], input[type=number], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        .a input[type=submit] {
          width: 100%;
          background-color: #ddd;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        .a input[type=submit]:hover {
          background-color: #ccc;
        }

        .a {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
    </style>
</head>
<body>

<div class="topnav">
    <a class="active" href="{{url_for('index')}}">Jobs</a>
    <a href="{{url_for('organisations')}}">Organisations</a>
    <a href="{{url_for('referral')}}">Referrals</a>
    <a href="{{url_for('applications')}}">My Applications</a>
    <a href="{{url_for('profile')}}">My Profile</a>
</div>

<h1>Job Openings</h1>
<div>
    <table id="jobs">
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Location</th>
        </tr>
        {% for n in jobs %}
        <tr>
            <td>{{n.org}}</td>
            <td><a href={{n.link}}>{{n.pos}}</a></td>
            <td>{{n.loc}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2>Add New Job</h2>
<div class="a">
    <form method="post">
        <label>Organisation</label>
        <br>
        <select id="org" name="org" required>
            <option value="">Select an organisation .....</option>
            {% for n in orgs %}
            <option value="{{n}}">{{n}}</option>
            {% endfor %}
        </select>

        <br><br>
        <label for="pos">Position</label>
        <br>
        <input type="text" id="pos" name="pos" placeholder="Name of the position ...." required>

        <br><br>
        <label for="link">Link</label>
        <br>
        <input type="text" id="link" name="link" placeholder="Link to the job posting ...." required>

        <br><br>
        <label for="description">Description</label>
        <br>
        <input type="text" id="description" name="description" placeholder="Description ...." required>

        <br><br>
        <label for="location">Location</label>
        <br>
        <input type="text" id="location" name="location" placeholder="Location ...." required>

        <br><br>
        <label for="salary"><b>Salary</b></label>
        <br>
        <input type="number" placeholder="Salary. Must be greater than 0." name="salary" required>

        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>


