<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organisations</title>
    <style>
        * {box-sizing: border-box;}

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
              overflow: hidden;
              background-color: #e9e9e9;
        }

        .topnav a {
              float: left;
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
        }

        .topnav a:hover {
              background-color: #ddd;
              color: black;
        }

        .topnav a.active {
              background-color: #04AA6D;
              color: white;
        }

        .topnav .search-container {
            float: right;
        }

        .topnav input[type=text] {
              padding: 6px;
              margin-top: 8px;
              font-size: 17px;
              border: none;
        }

        .topnav .search-container button {
              float: right;
              padding: 6px;
              margin-top: 8px;
              margin-right: 16px;
              background: #ddd;
              font-size: 17px;
              border: none;
              cursor: pointer;
        }

        .topnav .search-container button:hover {
            background: #ccc;
        }

        @media screen and (max-width: 600px) {
            .topnav .search-container {
                float: none;
            }
            .topnav a, .topnav input[type=text], .topnav .search-container button {
                    float: none;
                    display: block;
                    text-align: left;
                    width: 100%;
                    margin: 0;
                    padding: 14px;
            }
            .topnav input[type=text] {
                    border: 1px solid #ccc;
            }
        }

        #organisations {
              font-family: Arial, Helvetica, sans-serif;
              border-collapse: collapse;
              width: 100%;
        }

        #organisations td, #jobs th {
              border: 1px solid #ddd;
              padding: 8px;
        }

        #organisations tr:nth-child(even){background-color: #f2f2f2;}

        #organisations tr:hover {background-color: #ddd;}

        #organisations th {
              padding-top: 12px;
              padding-bottom: 12px;
              text-align: left;
              background-color: #04AA6D;
              color: white;
        }

    </style>
</head>
<body>

<div class="topnav">
    <a href="{{url_for('index')}}">Jobs</a>
    <a class="active" href="{{url_for('referral')}}">Organisations</a>
    <a href="{{url_for('referral')}}">Referrals</a>
    <a href="{{url_for('applications')}}">My Applications</a>
    <a href="{{url_for('profile')}}">My Profile</a>
</div>

<h1>Organisations</h1>
<div>
    <table id="organisations">
        <tr>
            <th>Company</th>
            <th>Domain</th>
            <th>Number of Employees</th>
        </tr>
        {% for n in organisations %}
        <tr>
            <td>{{n.name}}</td>
            <td>{{n.domain}}</td>
            <td>{{n.number_of_employees}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
