<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <style>
        * {box-sizing: border-box;}

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
              overflow: hidden;
              background-color: #e9e9e9;
        }

        .topnav a {
              float: left;
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
        }

        .topnav a:hover {
              background-color: #ddd;
              color: black;
        }

        .topnav a.active {
              background-color: #04AA6D;
              color: white;
        }

        .topnav .search-container {
            float: right;
        }

        .topnav input[type=text] {
              padding: 6px;
              margin-top: 8px;
              font-size: 17px;
              border: none;
        }

        .topnav .search-container button {
              float: right;
              padding: 6px;
              margin-top: 8px;
              margin-right: 16px;
              background: #ddd;
              font-size: 17px;
              border: none;
              cursor: pointer;
        }

        .topnav .search-container button:hover {
            background: #ccc;
        }

        @media screen and (max-width: 600px) {
            .topnav .search-container {
                float: none;
            }
            .topnav a, .topnav input[type=text], .topnav .search-container button {
                    float: none;
                    display: block;
                    text-align: left;
                    width: 100%;
                    margin: 0;
                    padding: 14px;
            }
            .topnav input[type=text] {
                    border: 1px solid #ccc;
            }
        }

        #referrals {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #referrals td, #referrals th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #referrals tr:nth-child(even){background-color: #f2f2f2;}

        #referrals tr:hover {background-color: #ddd;}

        #referrals th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

    </style>
</head>
<body>

<div class="topnav">
    <a href="{{url_for('index')}}">Jobs</a>
    <a href="{{url_for('referral')}}">Organisations</a>
    <a href="{{url_for('referral')}}">Referrals</a>
    <a href="{{url_for('applications')}}">My Applications</a>
    <a class="active" href="{{url_for('profile')}}">My Profile</a>
</div>

<h2>Profile Details</h2>

<div>
    <table id="referrals">
        
        <tr>
            <td>Name</td>
            <td>{{user}}</td>
        </tr>

        <tr>
            <td>Email</td>
            <td>{{email}}</td>
        </tr>

        <tr>
            <td>Age</td>
            <td>{{age}}</td>
        </tr>

        <tr>
            <td>Work Experience</td>
            <td>{{work_ex}} years</td>
        </tr>

        <tr>
            <td>Skills</td>
            <td>{{skills}}</td>
        </tr>
    </table>
</div>


</body>
</html>