<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Referrals</title>
    <style>
        * {box-sizing: border-box;}

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
              overflow: hidden;
              background-color: #e9e9e9;
        }

        .topnav a {
              float: left;
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
        }

        .topnav a:hover {
              background-color: #ddd;
              color: black;
        }

        .topnav a.active {
              background-color: #04AA6D;
              color: white;
        }

        .topnav .search-container {
            float: right;
        }

        .topnav input[type=text] {
              padding: 6px;
              margin-top: 8px;
              font-size: 17px;
              border: none;
        }

        .topnav .search-container button {
              float: right;
              padding: 6px;
              margin-top: 8px;
              margin-right: 16px;
              background: #ddd;
              font-size: 17px;
              border: none;
              cursor: pointer;
        }

        .topnav .search-container button:hover {
            background: #ccc;
        }

        @media screen and (max-width: 600px) {
            .topnav .search-container {
                float: none;
            }
            .topnav a, .topnav input[type=text], .topnav .search-container button select{
                    float: none;
                    display: block;
                    text-align: left;
                    width: 100%;
                    margin: 0;
                    padding: 14px;
            }
            .topnav input[type=text] {
                    border: 1px solid #ccc;
            }
        }

        #referrals {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #referrals td, #referrals th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #referrals tr:nth-child(even){background-color: #f2f2f2;}

        #referrals tr:hover {background-color: #ddd;}

        #referrals th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

        .a input[type=text], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        .a input[type=submit] {
          width: 100%;
          background-color: #ddd;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        .a input[type=submit]:hover {
          background-color: #ccc;
        }

        .a {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }

    </style>
</head>
<body>

<div class="topnav">
    <a href="{{url_for('index')}}">Jobs</a>
    <a href="{{url_for('organisations')}}">Organisations</a>
    <a class="active" href="{{url_for('referral')}}">Referrals</a>
    <a href="{{url_for('applications')}}">My Applications</a>
    <a href="{{url_for('profile')}}">My Profile</a>
</div>

<h2>Referrals Received</h2>

<div>
    <table id="referrals">
        <tr>
            <th>Sender name</th>
            <th>Position</th>
            <th>Organisation</th>
        </tr>
        {% for n in received %}
        <tr>
            <td>{{n.user}}</td>
            <td>{{n.pos}}</td>
            <td>{{n.org}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2>Referrals Given</h2>

<div>
    <table id="referrals">
        <tr>
            <th>Receiver name</th>
            <th>Position</th>
            <th>Organisation</th>
        </tr>
        {% for n in given %}
        <tr>
            <td>{{n.user}}</td>
            <td>{{n.pos}}</td>
            <td>{{n.org}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h2>Give Referral</h2>
<div class="a">
    <form method="post">
        <label>User</label>
        <select id="user" name="user" required>
            <option value="">Select a user .....</option>
            {% for n in users %}
            <option value="{{n.info}}">{{n.info}}</option>
            {% endfor %}
        </select>

        <label>Position</label>
        <select id="pos" name="pos" required>
            <option value="">Select a position .....</option>
            {% for n in org_pos %}
            <option value="{{n.pos}}">{{n.pos}}</option>
            {% endfor %}
        </select>

        <label>Description</label>
        <input type="text" id="des" name="des" placeholder="Description ...." required>

        <input type="submit" value="Submit">
    </form>
</div>


</body>
</html>